@use "variables";
@use "font-awesome";
@use "bootstrap";
@use "animations";
@use "calendar";


.sticky-sidebar {
  position: sticky;
  top: 10px;
}

// Somewhat prevents flickering when replacing with Tom-select
select[multiple],
select {
  visibility: hidden;
  display: none;
}

::selection {
  color: var(--color-primary-content);
  background-color: var(--color-primary);
}

.offline {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
  color: #fbb700;
  font-family: Arial, sans-serif;
}

.wifi-icon {
  width: 100px;
  height: 100px;
}

#offline-countdown {
  margin-top: 20px;
  font-size: 14px;
}

div:where(.swal2-container) {
  z-index: 1101 !important;
}

#toasts .toast-container {
  z-index: 1100;
}

.logo {
  background-image: url('/static/img/brand/argus-logo-dark.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  width: 30px;
  height: 30px;

  &.mobile {
    width: 40px;
    height: 40px;
  }
}

[data-theme="argus_light"] .logo {
  background-image: url('/static/img/brand/argus-logo-light.svg');
}

[x-cloak] {
  display: none !important;
}
