{% load i18n %}
<div id="episode-watched-button">
  {% if tracked %}
  <div class="tooltip tooltip-bottom" data-tip="{% if watched %}{% trans 'Mark unwatched' %}{% else %}{% trans 'Mark watched' %}{% endif %}"><input type="checkbox" aria-label="{% if watched %}{% trans 'Mark unwatched' %}{% else %}{% trans 'Mark watched' %}{% endif %}" class="checkbox checkbox-success checkbox-lg" {% if watched %}checked{% endif %}
          hx-{% if watched %}delete{% else %}post{% endif %}="{% url 'tv-episode-detail-watched' external_id=show_external_id episode_id=episode_id %}"
          hx-trigger="change" hx-target="#episode-watched-button" hx-swap="outerHTML" hx-disabled-elt="this"></div>
  {% endif %}
</div>
