{% load i18n %}
<c-ui.components.episode-card
    id="watchlist-show-{{ entry.show.id }}"
    :image_url="entry.next_episode.show.poster_url"
    show_url="{% url 'tv-detail' external_id=entry.show.external_id %}"
    show_name="{{ entry.show.name }}"
    season_episode_label="S{{ entry.next_episode.season_number|stringformat:'02d' }} | E{{ entry.next_episode.episode_number|stringformat:'02d' }}"
    pending_text="{% if entry.pending_count > 0 %}+{{ entry.pending_count }}{% endif %}"
    episode_title="{{ entry.next_episode.name }}"
    title_url="{% url 'tv-episode-detail' external_id=entry.show.external_id episode_id=entry.next_episode.id %}"
    checkbox_position="right"
    :checked="False"
    toggle_url="{% url 'tv-home-watchlist-episode-watched' episode_id=entry.next_episode.id %}">
</c-ui.components.episode-card>
