{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
<div class="container px-md-3 py-3">
  <div class="text-3xl font-bold w-full mb-3">{% trans "TV Shows" %}</div>

  <div role="tablist" class="tabs tabs-border w-fit mb-3">
    <input type="radio" name="tv-home-tab" role="tab" class="tab" aria-label="{% trans 'Watchlist' %}"
           checked
           hx-get="{% url 'tv-home-watchlist' %}" hx-target="#tv-home-panel" hx-swap="innerHTML"
           hx-trigger="load, change">
    <input type="radio" name="tv-home-tab" role="tab" class="tab" aria-label="{% trans 'Upcoming' %}"
           hx-get="{% url 'tv-home-upcoming' %}" hx-target="#tv-home-panel" hx-swap="innerHTML"
           hx-trigger="change">
  </div>

  <div id="tv-home-panel"></div>

  <div class="text-3xl font-bold w-full mb-3 mt-6">{% trans "Movies" %}</div>
  <div class="text-lg font-semibold mb-2">{% trans "Watch something" %}</div>
  {% include "movies/fragments/home_watch_something.html" with movies=watch_something_movies %}
</div>
{% endblock %}
