{% load settings %}
{% load i18n %}
<div class="flex justify-end gap-2 px-3 py-2">
  <div class="dropdown dropdown-end">
    <div role="button" class="btn btn-secondary btn-sm" tabindex="0" aria-expanded="false">
      <i class="fa-solid fa-user fa-fw"></i>
      <span class="hidden sm:inline">{{ request.user.email }}</span>
    </div>
    <ul class="dropdown-content menu menu-sm bg-base-100 rounded-box shadow w-56 mt-2" tabindex="0">
      <li><a hx-get="{% url 'user_settings' %}" hx-target="#generic-offcanvas" role="button">
        <i class="fa-solid fa-gear fa-fw me-2"></i>{% translate 'Settings' %}</a></li>
      <hr class="my-1 hr">
      <li><a href="{% url 'logout' %}"><i class="fa-solid fa-door-open fa-fw me-2"></i>{% translate 'Logout' %}</a></li>
      <hr class="my-1 hr">
      <li><a class="pointer-events-none opacity-60">v. {% settings "APP_VERSION" %}</a></li>
    </ul>
  </div>
</div>

<div id="generic-offcanvas"></div>
